body{
	background-color: white ;
	font-family: arial;
	font-size:15px ;
	color: black ;
}
img.img1{
  font-size:14px;
  margin-left : 45px;
  margin-top: 35px;
  height: 15px;
  width: 15px;
}
img.img2{
  width: 15px;
  height: 15px;
  position: absolute;
  top: 5%;
  margin-left: 17px;
  margin-top: 15px;
  z-index: 1;
  color: #4f5b66;
}

h3.text{
  position:relative;
  margin-left: 85px;
  margin-top: -20px;
}
div.container1{
  width: 75%;
  height: 650px;
}

input.buscador{
  width: 80%;
  height: 35px;
  border-radius: 12px;
  border:0;
  background-color: #F7F3f3;
  padding-left: 45px;
}

div.box{
  width: 80%;
  height: 500px;
  margin-left: 250px;
  margin-top: -45px;

}
div.container2{
  position: relative;
  width: 85%;
  height: 130px;
  margin-left: 40px;
  margin-top: -420px;
  border-radius: 12px;
  border:0;
  background-color: #FEF3EE;
}
img.img3{
  width: 145px;
  height: 150px;
  margin-left: 25px;
  margin-top: -20px;
}
p.text1{
  font-family: arial;
  font-weight:bold;
  margin-left: 300px;
  margin-top: -90px;
  color: #FF5100;
}
p.text2{
  font-size: 8px;
  font-family: arial;
  margin-left: 300px;
  margin-top: -10px;
  color:#B0B0B0;
}
img.img4{
  position: absolute;
  width: 15px;
  height: 15px;
  margin-left: 475px;
  margin-top: -40px;

}
p.text3{
  font-size: 8px;
  font-family: arial;
  margin-left: 750px;
  margin-top: 20px;
  color:#FF5100;
}
img.img5{
  position: absolute;
  width: 10px;
  height: 10px;
  margin-left: 800px;
  margin-top: -18px;
  color: #FF5100;
}
h3.text4{
  margin-left: 40px;
  margin-top: 50px;
}
img.img6{
  position: absolute;
  width: 15px;
  height: 15px;
  margin-left: 155px;
  margin-top: -35px;
}
button.boton1{
  position: absolute;
  font-size: 8px;
  color: white;
  width: 80px;
  height: 25px;
  margin-left: 800px;
  margin-top: -40px;
  text-align: right;

  border-radius: 15px;
  border:0;
  background-color: #FF5100;
}
img.img7{
  position: absolute;
  width: 15px;
  height: 25px;
  margin-left: 805px;
  margin-top: -40px;

}
button.boton2{


  width: 55px;
  height: 95px;
  border-radius: 20px;
  border: 0;
  box-shadow: 30px;
  margin-left: 40px;
  background-color: #E7E7E7;
}
button.botona{
	width: 55px;
  height: 95px;
  border-radius: 20px;
  border: 0;
  box-shadow: 30px;
  margin-left: 40px;
  background-color: #FFD800;

}
button.boton3{
  position: absolute;
  width: 40px;
  height: 40px;
  margin-left: -47px;
  margin-top: 3px;
  border-radius: 19px;
  border: 0;
  color: white;
   background-color: #FAFAFA;
}
p.text5{
  position: absolute;
 font-size: 15px;
 margin-left: 58px;
 margin-top: -35px;

}
img.img8{
  position:absolute;
  width: 30px;
  height: 30px;
  margin-left: -45px;
  margin-top: 8px;

}

p.text6{
	position: absolute;
 font-size: 15px;
 margin-left: 147px;
 margin-top: -35px;

}
p.text7{
	position: absolute;
 font-size: 15px;
 margin-left: 247px;
 margin-top: -35px;
}
p.text8{
	position: absolute;
 font-size: 15px;
 margin-left: 339px;
 margin-top: -35px;
}
p.text9{
	position: absolute;
 font-size: 15px;
 margin-left: 433px;
 margin-top: -35px;
}
p.text10{
	position: absolute;
 font-size: 15px;
 margin-left: 535px;
 margin-top: -35px;
}
p.text11{
	position: absolute;
 font-size: 15px;
 margin-left: 646px;
 margin-top: -35px;
}
p.text12{
	position: absolute;
 font-size: 15px;
 margin-left: 743px;
 margin-top: -35px;
}
button.boton4{
	position: absolute;
  width: 40px;
  height: 40px;
  margin-left: 50px;
  margin-top: 25px;
  border-radius: 19px;
  border: 0;
  color: white;
   background-color: #E7E7E7;
}
img.img9{
	position:absolute;
  width: 30px;
  height: 30px;
  margin-left: 55px;
  margin-top: 30px;
}
img.img10{
	position: absolute;
	width: 250px;
	height: 150px;
	margin-left: -755px;
	margin-top: 140px;
	border-radius: 15px;

}
p.text13{
	position: absolute;
	font-weight: bold;
	margin-left: 40px;
	margin-top: 200px;
}
img.img11{
	position: absolute;
	width: 10px;
	height: 10px;
	margin-left: -750px;
	margin-top: 320px;
}
p.text14{
	position: absolute;
	font-size: 13px;
	font-weight: bold;
	margin-left: 55px;
	margin-top: 220px;

}
p.text15{
	position: absolute;
	font-size: 13px;
	font-weight: bold;
	margin-left: 80px;
	margin-top: 220px;
	color: #8F8F8F;
}
img.img12{
	position: absolute;
	width: 250px;
	height: 150px;
	margin-left: -455px;
	margin-top: 140px;
	border-radius: 15px;
}
p.text16{
	position: absolute;
	font-weight: bold;
	margin-left: 345px;
	margin-top: 200px;
}
img.img13{
	position: absolute;
	width: 10px;
	height: 10px;
	margin-left: -444px;
	margin-top: 320px;
}
p.text17{
	position: absolute;
	font-size: 13px;
	font-weight: bold;
	margin-left: 360px;
	margin-top: 220px;
}
p.text18{
	position: absolute;
	font-size: 13px;
	font-weight: bold;
	margin-left: 390px;
	margin-top: 220px;
	color: #8F8F8F;
}
img.img14{
	position: absolute;
	width: 250px;
	height: 150px;
	margin-left: -155px;
	margin-top: 140px;
	border-radius: 15px;
}
p.text19{
	position: absolute;
	font-weight: bold;
	margin-left: 645px;
	margin-top: 200px;
}
img.img15{
	position: absolute;
	width: 10px;
	height: 10px;
	margin-left: -144px;
	margin-top: 320px;
}
p.text20{
	position: absolute;
	font-size: 13px;
	font-weight: bold;
	margin-left: 660px;
	margin-top: 220px;
}
p.text21{
	position: absolute;
	font-size: 13px;
	font-weight: bold;
	margin-left: 690px;
	margin-top: 220px;
	color: #8F8F8F;
}
div.container3{
	position: absolute;
	width: 341px;
	height: 800px;
	margin-left: 1000px;
	margin-top: -660px;
	background-color: #FCFCFC;

}
button.boton5{
	position: absolute;
	width: 35px;
	height: 35px;
	margin-left: 270px;
	margin-top: 30px;
	border-radius: 12px;
	border:0;
	background-color: #FFD800;
}
img.img16{
	position:absolute;
	width: 18px;
	height: 18px;
	margin-left: 210px;
	margin-top:38px;
}
p.text22{
font-weight: bold;
margin-left: 45px;
margin-top: 150px;
}
img.img17{
	position:absolute;
	width: 20px;
	height: 20px;
	margin-left: 70px;
	margin-top:-33px;
}
p.text23{
	font-weight: bold;
	margin-left: 45px;
	margin-top: -12px;
}
div.container4{
	position: absolute;
	width: 255px;
	height: 120px;
	margin-left: 45px;
	margin-top: 15px;
	border-radius: 15px;
	background-color: #4A0EB3;
}
p.text24{
	font-size: 10px;
	margin-left: 25px;
	margin-top: 30px;
	color: white;
}
p.text25{
	font-size: 10px;
	margin-left: 210px;
	margin-top: -21px;
	color: #FFF000;
}
button.boton6{
	position: absolute;
	width: 30px;
	height: 30px;
	margin-left: 24px;
	margin-top: 15px;
	background-color: #885CD5;
	border-radius: 10px;
	border:0;
}
img.img18{
	position: absolute;
  width: 15px;
  height: 25px;
  margin-left: -8px;
  margin-top: -12px;

}
p.text26{
		font-size: 10px;
	color: white;
	margin-left: 65px;
	margin-top: 35px;
}
p.text27{
	font-size: 10px;
	margin-left: 171px;
	margin-top: -21px;
	color: #FFF000;
}
img.img19{
	width: 70px;
	height: 45px;
	border-radius: 12px;
	margin-left: 45px;
	margin-top: 170px;
}
p.text28{
	font-weight: bold;
	margin-left: 125px;
	margin-top: -31px;
}
p.text29{
	font-size: 12px;
	color: #AEAEAE;
	margin-left: 295px;
	margin-top: -30px;
}
img.img20{
	width: 70px;
	height: 45px;
	border-radius: 12px;
	margin-left: 45px;
	margin-top: 15px;
}
p.text30{
	font-weight: bold;
	margin-left: 40px;
	margin-top: 55px;

}
hr{
	width: 300px;
}
p.text31{
	font-size: 20px;
	font-weight: bold;
margin-left: 250px;
margin-top: -35px;
}
p.text32{
	font-size: 12px;
	font-weight: bold;
	margin-left: 38px;
	margin-top: 40px;
}
button.boton7{
	width: 95px;
	height: 30px;
	margin-left: 38px;
	border-radius: 12px;
	border:0;
}
button.boton8{
	position: absolute;
	width: 150px;
	height: 60px;
	margin-left: 70px;
	margin-top: -20px;
	border-radius: 15px;
	border: 0;
	background-color:  #FFD800;

}
img.img21{
	position: absolute;
	width: 10px;
	height: 10px;
	margin-left: 190px;
	margin-top: 5px;
	color: #FF5100;
}
